# Node & Vite
node_modules/
dist/
.vite/
.env
.env.*
!.env.example
!web/.env.example
!web/src/env.d.ts
web/node_modules/
web/dist/
web/.vite/
web/.env
web/.env.*
!web/.env.example

# Flutter & Dart
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/build/

# Temporary / Legacy / Backup Folders
web(lama)/
web/siltor_baru.zip
web/sync_temp*.ts
web/test-*.js

# Local environment & tools
web/setPassword.ts
web/appwrite_schema_dump.json

# Laravel Backend
backend/vendor/
backend/.env
backend/storage/*.key
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*

# System files
.DS_Store
Thumbs.db
*.log

# component
test_sqa_anggota1.sh

#linux desktop
/etc
/
/etc/home